# Data #
########
*.xls*
*.doc*
*.png
*.jpg
*.dta
*.csv
*.dbf
*.log
*.json
*.txt
*.shp*
*.cpg
*.prj
*.xml
*.shx
*.sbn
*.sbx
*d3js*

# Because GitHub told me so #
#############################
*.zip
.DS_Store